@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../imagem/background.jpg);
}

.container{
    background: linear-gradient(120deg, #4C4C4C, #252A2E);
    color: #fff;
    width: 350px;
    height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 20px #6c757d;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: 1.8rem serif;
    border-bottom: solid 3px rgb(255, 255, 255);
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', cursive;      
}

.input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

.input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border:none;
    outline: 0;
    font: 1.2rem serif;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.input label {
    font:  1.5rem serif;
    font-family: 'Balsamiq Sans', cursive;
  }

button{
    margin: 20px;
    width: 200px;
    height: 40px;
    font: 1.6rem serif;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 0 10px #1c1c1d;
    cursor: pointer;
    font-family: 'Balsamiq Sans', cursive;
}

.resultado{
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: 320px;
    height: 120px;
    border-radius: 5px;
    font: italic 1.4rem serif;
    box-shadow: 5px 5px 20px black;
    background: #000;
    color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Balsamiq Sans', cursive;
}

.descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    margin-top: 3px;
}